@font-face {
  font-family: "light"; /*a name to be used later*/
  src: url("../assets/fonts/light.otf"); /*URL to font*/
}
@font-face {
  font-family: "semibold"; /*a name to be used later*/
  src: url("../assets/fonts/semibold.ttf"); /*URL to font*/
}
@font-face {
  font-family: "regular"; /*a name to be used later*/
  src: url("../assets/fonts/regular.ttf"); /*URL to font*/
}
@font-face {
  font-family: "medium"; /*a name to be used later*/
  src: url("../assets/fonts/medium.ttf"); /*URL to font*/
}
@font-face {
  font-family: "bold"; /*a name to be used later*/
  src: url("../assets/fonts/extrabold.otf"); /*URL to font*/
}

/* Page Style */
body {
  font-family: "light";
  margin: 0px;
  background-image: url("../assets/images/background-gradient.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
.btn {
  outline: none !important;
  box-shadow: none !important;
}

/* Home block starts here */
.home {
  padding-top: 100px;
  padding-bottom: 160px;
}
.home-left {
  margin: 100px;
  justify-content: center;
}
.home-background-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home-right {
  position: relative;
}
.home-mobile-frame {
  position: absolute;
  left: -110px;
  top: 80px;
}
.home-mobile-img {
  position: absolute;
  left: 50px;
  top: 0;
  width: 250px;
  object-fit: contain;
  border-radius: 12px;
  /* box-shadow: 6px 6px 0px 2px rgba(0, 0, 90, 0.05); */
}
.home-mobile-ui {
  position: absolute;
  left: 50px;
  top: 3px;
  width: 236px;
  object-fit: contain;
}
.home-info-card {
  position: absolute;
  right: 100px;
  bottom: -90px;
}
.home-info-img {
  width: 220px;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 6px 6px 0px 2px rgba(0, 0, 90, 0.05);
}
/* Home block ends here*/

/* Analytics block starts here*/
.analytics-container {
  border-top: 1px solid #062d78;
  border-bottom: 1px solid #062d78;
  margin-bottom: 60px;
}
.divider {
  border-left: 1px solid #062d78;
}
.analytics-wrapper {
  padding: 40px 0px;
}
/* Analytics block ends here*/

/* Our Products block starts here*/
.products {
  position: relative;
  margin-top: 160px;
}
.products-container {
  position: relative;
  z-index: 100px;
  border-bottom: 1px solid #062d78;
}
.products-mobile-container {
  position: absolute;
  top: -5%;
  left: 38%;
  z-index: 1000px;
  width: 100%;
}
.product-mobile-frame {
  width: 25%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.product-mobile-ui {
  width: 20%;
  position: absolute;
  top: 20px;
  left: 20px;
}
.products-img-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.products-img {
  width: 88%;
}
.product-line {
  position: absolute;
  right: 0px;
  top: 0px;
}
/* Our Products block ends here*/

/* Money block starts here */
.money {
  position: relative;
}
.money-line {
  position: absolute;
  top: -50px;
  left: 100px;
}
/* Money block ends here */

/* About block Starts here*/
.about {
  position: relative;
  margin-bottom: 200px;
}
.about-background {
  position: absolute;
}
/* About block ends here*/

/* Why us block Starts here*/
.why-finmart {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 100px;
}
.why-finmart img {
  width: 600px;
  padding-left: 50px;
}
.why-finmart::-webkit-scrollbar {
  display: none;
}
.whyus {
  margin-bottom: 100px;
}
.whyus-line {
  position: absolute;
  top: 100px;
  right: 0px;
}
/* Why us block ends here*/

/* Partners block Starts here*/
.partners {
  margin: 150px 0px;
}
.partners-wrapper {
  width: 60%;
  flex-wrap: wrap;
}
.partners-logo-container {
  width: 160px;
  display: flex;
  margin: 10px 30px;
  justify-content: "center";
  align-items: center;
}
.partners-logo {
  width: 150px;
  height: 100px;
  object-fit: contain;
}
/* Partners block ends here*/

/* Faq block starts here*/
.faq {
  padding-left: 100px;
  padding-bottom: 160px;
}
/* Faq block ends here*/

/* Blog block starts here*/
.blog {
  padding-bottom: 500px;
  padding-top: 300px;
  position: relative;
  z-index: 101;
}
.blog-image-container {
  position: absolute;
  top: -450px;
  width: 60%;
  z-index: 1;
}
.blog-text {
  z-index: 2;
}
.blog-background {
  position: absolute;
  z-index: 1;
}
.blog-line {
  position: absolute;
  top: -200px;
  left: 0px;
}
/* Blog block ends here*/

/* Faq block starts here*/
.faq {
  position: relative;
}
.faq-line {
  position: absolute;
  top: -900px;
  right: 0px;
}
.question-img {
  position: absolute;
  width: 160px;
  right: 100px;
  top: -200px;
}
/* Faq block ends here*/

/* Footer block starts here*/
.footer {
  background-color: #00144d;
}
.footer-logo {
  border-right: 1px solid #fff;
  padding: 150px !important;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.footer-contents {
  padding: 100px !important;
  padding-right: 0px !important;
}
.copyrights-container {
  border-top: 1px solid #fff;
  padding: 40px 80px;
}
.newsletter {
  width: 50%;
  margin-left: 10%;
}
.subscribe-container input {
  width: 60%;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  font-family: regular;
  font-size: 14px;
  border: none;
  outline: none;
}
.subscribe-container input::placeholder {
  color: #00144d60;
}

.Terms a {
  color: inherit;
}
/* Footer block ends here*/

@media only screen and (min-width: 1600px) {
  /* Home block starts here */
  .home-mobile-frame {
    position: absolute;
    left: -140px;
    top: 80px;
  }
  .home-mobile-img {
    position: absolute;
    /* left: 0;
    top: 0;
    width: 280px; */
    object-fit: contain;
    border-radius: 12px;
    /* box-shadow: 6px 6px 0px 2px rgba(0, 0, 90, 0.05); */
  }
  .home-mobile-ui {
    position: absolute;
    /* left: 10px;
    top: 10px;
    width: 260px; */
    object-fit: contain;
  }
  /* Home block ends here*/

  /* Our Products block starts here*/
  .products-mobile-container {
    position: absolute;
    top: -5%;
    left: 38%;
    z-index: 1000px;
    width: 100%;
  }
  .product-mobile-frame {
    width: 21%;
    position: absolute;
    top: 0px;
    left: 0px;
    
  }
  .product-mobile-ui {
    width: 20%;
    position: absolute;
    top: 0px;
    left: 5px;

  }
  /* Our Products block ends here*/

  /* Money block starts here */
  .money-line {
    position: absolute;
    top: -50px;
    left: 200px;
  }
  /* Money block ends here */

  /* About block Starts here*/
  .about {
    margin-bottom: 250px;
  }
  .about-image {
    width: 100%;
    padding-right: 20%;
  }
  .easy-access-image {
    width: 100%;
    padding-right: 10%;
  }
  /* About block ends here*/

  /* Why us block Starts here*/
  .whyus-line {
    position: absolute;
    top: 300px;
    right: 0px;
  }
  /* Why us block ends here*/
}

@media only screen and (max-width: 500px) {
}
